.container-3{
    background-color:rgb(223, 221, 223);
    border:5px solid black;
    width: 90%;
    margin:0 auto;
    text-align: center;
}

.flex-box-rps{
    display: flex;
    border: 3px solid black;
    padding: 25px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}




.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}